<div class="d-flex align-items-center min-vh-100 py-3 py-md-0" style="background-color: #005073;">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/img/login.jpg" alt="login" class="login-card-img" />
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <div class="row my-2">
                <div class="col">
                  <img style="width: 100%; max-width: 150px" src="assets/img/LogoMMA.png" alt="Logo MMA" />
                </div>
                <div class="col">
                  <img style="width: 100%; max-width: 150px" src="assets/img/BID.png" alt="Logo BID" />
                </div>
              </div>
              <h3 class="font-weight-bolder">Subsistema Nacional de Información de Residuos Sólidos</h3>
            </div>
            <p class="login-card-description">Iniciar sesión</p>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Correo"
                  [(ngModel)]="email"
                  name="email"
                  required
                  email
                  #emailInput="ngModel"
                />
                <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
                  Ingresa un correo válido.
                </div>
              </div>
              <div class="input-group mb-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  [(ngModel)]="password"
                  name="password"
                  required
                  #passwordInput="ngModel"
                />
                <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
                  La contraseña es requerida.
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      [(ngModel)]="rememberMe"
                      name="remember"
                      id="remember"
                    />
                    <label for="remember" class="form-check-label">Recordarme</label>
                  </div>
                </div>
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
                    Entrar
                  </button>
                </div>
              </div>
            </form>
            <!-- Mensaje de retroalimentación de inicio de sesión -->
            <div *ngIf="loginStatus" class="mt-3 text-center text-info">
              {{ loginStatus }}
            </div>

            <div class="mt-3 text-center" style="font-size: 12px">
              Esta plataforma fue desarrollada con el apoyo del Banco Interamericano de Desarrollo (BID)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
